body {
    background-color: #c2000b;
}

.container {
    width: 100%;
}

.container, .row, .col-xs-1,
.col-xs-2, .col-xs-3, .col-xs-4,
.col-xs-5, .col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9, .col-xs-10,
.col-xs-11, .col-xs-12{
    margin: 0;
    padding: 0;
}

#header {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

#header .bruintje-beer {
    width: 150px;
    height: 150px;
    margin-left: 80px;
}

#header .bruintjebeer {
    margin-top: 30px;
}

#header .ftcmusselkanaal {
    width: 200px;
    height: 100px;
    margin-top: 25px;
    margin-left: 60px;
}

#header .title {
    font-family: 'Architects Daughter', cursive;
    margin-top: 20px;
}

#header .title h1 {
    font-size: 70px;
}

#menu {
    margin-bottom: -20px;
}

#menu .navbar {
    background-color: #f0d514;
}

#menu .nav a {
    color: #000000;
    font-weight: bold;
}

#menu .nav a:hover,
#menu .nav a:active {
    background-color: #c2000b;
    color: #ffffff;
}

#menu .facebook-icon {
    content: url('../images/facebook-icon.png');
    margin-top: 10px;
    margin-right: 100px;
}

#menu .facebook-icon:hover {
    content: url('../images/facebook-icon-hover.png');
    margin-top: 10px;
    margin-right: 100px;
}

#menu .email-icon {
    content: url('../images/email-icon.png');
    margin-top: 10px;
    margin-right: 12px;
}

#menu .email-icon:hover {
    content: url('../images/email-icon-hover.png');
    margin-top: 10px;
    margin-right: 12px;
}

#flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

#leftside .leftside-header {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

#leftside .leftside-name {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

#leftside .leftside-image {
    margin-left: 10px;
    margin-right: 10px;
}

#middle {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

#middle .img-size {
    width: 25%;
}

#middle .news {
    margin-left: 20px;
    margin-right: 20px;
}

#middle .news .news-title {
    font-weight: bold;
}

#middle .news .news-image {
    margin-right: 20px;
    margin-bottom: 20px;
}

#middle .news .news-date {
    font-style: italic;
    font-size: 12px;
}

#middle .news .date {
    margin-right: 20px;
    font-style: italic;
    font-size: 12px;
    margin-left: 440px;
}

#middle .home-news {
    font-weight: bold;
}

#middle .home-image {
    margin-right: 20px;
}

#middle .about .abouttitle {
    font-weight: bold;
}

#middle .about {
    margin-left: 20px;
    margin-right: 20px;
}

#middle .sponsors .hoofdsponsoren,
#middle .sponsors .vp-sponsoren,
#middle .sponsors .subsponsoren {
    margin-left: 20px;
    margin-right: 20px;
}

#middle .sponsors .sponsor-headers {
    background-color: #f0d514;
    height: 59px;
    margin-top: 21px;
    margin-bottom: 20px;
}

#middle .sponsor-headers h3 {
    text-align: center;
    padding-top: 17px;
    font-weight: bold;
}

#middle .route-title {
    margin-left: 20px;
}

#middle .route-title h3 {
    font-weight: bold;
}

#middle .route-image {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#middle .route-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#middle .ambassador-name {
    margin-left: 20px;
}

#middle .ambassador-image {
    float: right;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#middle .ambassador-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#middle .ambassador-name h3 {
    font-weight: bold;
}

#middle .charity-title {
    margin-left: 20px;
}

#middle .charity-title h3 {
    font-weight: bold;
}

#middle .charity-image {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#middle .charity-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#middle .magazine-title {
    text-align: center;
}

#middle .magazine-title h3 {
    font-weight: bold;
}

#middle .magazine-description {
    text-align: center;
}

#middle .magazine-image {
    margin-bottom: 20px;
}

#middle .contact-header {
    margin-left: 20px;
}

#middle .contact-header h3 {
    font-weight: bold;
}

#middle .contact-body {
    margin-left: 20px;
}

#rightside .hoofsponsor-image {
    margin-left: 10px;
    margin-right: 10px;
}

#rightside .hoofdsponsors .rightside-header {
    text-align: center;
    color: #ffffff;
}

#rightside .hoofdsponsors .head-sponsors {
    margin-bottom: 10px;
}

#footer {
    background-color: #f0d514;
    height: 60px;
    padding-top: 15px;
    color: #000000;
}

#footer .footer-middle {
    text-align: center;
}

#footer a {
    color: #000000;
}

#footer a:hover {
    color: #c2000b;
}

#leftside h4,
#rightside h4 {
    font-weight: bold;
}