#header {
    width: 100%;
}


.bruintje-beer
{
    width: 150px;
    height: 150px;
    margin-left: 100px;
}

.title {
    font-family: 'Architects Daughter', cursive;
}

.title h1 {
    font-size: 80px;
}

#menu {
    height: 40px;
    width: 100%;
}

#menu .navbar {
    background-color: #f0d514;
}

#menu .nav a {
    color: #000000;
    font-weight: bold;
}

#menu .nav a:hover,
#menu .nav a:active {
    background-color: #c4000c;
    color: #ffffff;
}

#slider {
    width: 100%;
}

#leftside {
    width: 20%;
    float: left;
    background-color: #c2000b;
}

#middle {
    width: 60%;
    float: left;
}

#middle .news {
    margin-left: 20px;
}

#middle .news .newsheader {
    font-weight: bold;
}

#middle .newsdate {
    margin-top: 20px;
    margin-bottom: 20px;
}

#middle .newsdate .date {
    margin-right: 20px;
    font-style: italic;
    font-size: 12px;
}

#middle .newscontent {
}

#rightside {
    width: 20%;
    float: left;
    background-color: #c2000b
}