body {
    background-color: #c2000b;
    position: relative;
    z-index: -1;
}

.container {
    width: 100%;
}

.container, .row, .col-xs-1,
.col-xs-2, .col-xs-3, .col-xs-4,
.col-xs-5, .col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9, .col-xs-10,
.col-xs-11, .col-xs-12{
    margin: 0;
    padding: 0;
}

#header {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

#header .bruintje-beer {
    width: 150px;
    height: 150px;
    margin-left: 80px;
}

#header .ftcmusselkanaal {
    width: 200px;
    height: 100px;
    margin-top: 25px;
    margin-left: 60px;
}

#header .title {
    font-family: 'Architects Daughter', cursive;
    margin-top: 20px;
}

#header .title h1 {
    font-size: 70px;
}

#menu {
    margin-bottom: -20px;
}

#menu .navbar {
    background-color: #f0d514;
}

#menu .nav a {
    color: #000000;
    font-weight: bold;
}

#menu .nav a:hover,
#menu .nav a:active {
    background-color: #c2000b;
    color: #ffffff;
}

#flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

#leftside .leftside-header {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

#leftside .leftside-name {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

#leftside .leftside-image {
    margin-left: 10px;
    margin-right: 10px;
}

#middle {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

#middle .news {
    margin-left: 20px;
    margin-right: 20px;
}

#middle .news .newsheader {
    font-weight: bold;
}

#middle .news .newsdate {
    margin-top: 20px;
    margin-bottom: 20px;
}

#middle .news .date {
    margin-right: 20px;
    font-style: italic;
    font-size: 12px;
}

#middle .about .abouttitle {
    font-weight: bold;
}

#middle .about {
    margin-left: 20px;
    margin-right: 20px;
}

#middle .sponsors {
    margin-left: 20px;
    margin-right: 20px;
}

#middle .header-sponsors {
    text-align: center;
}

#rightside .hoofsponsor-image {
    margin-left: 10px;
    margin-right: 10px;
}

#rightside .hoofdsponsors .rightside-header {
    text-align: center;
    color: #ffffff;
}

#rightside .hoofdsponsors .head-sponsors {
    margin-bottom: 10px;
}

#footer {
    background-color: #f0d514;
}